/*   
  Project by Josh 
  https://github.com/FedTrap1 
*/



@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



body {
    background: #FFFFFF;
}


#header {
    text-align: center;
    margin-top: 47px;
    margin: auto;
    font-size: 39px
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0); 
    color: white;
    text-align: center;
}

.center-align {
    text-align: center;
}

p {
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255)
}





#link, #username, #content, #avatar {
    font-size: 25px;
    background-color: #ff1431;
    width: 15%;
    padding: 20px;
  background-image: url('https://static01.nyt.com/images/2022/01/04/nyregion/04gangbust1/merlin_199920537_ede48f2e-3ad1-4ac6-9873-d014687fc8bb-articleLarge.jpg');
    border: 2px solid #FFFFFF;
}



#btn {
    width: 10%;
    font-size: 25px;
    margin-top: 25px;
    padding: 17px;
    background-image: url('https://static01.nyt.com/images/2022/01/04/nyregion/04gangbust1/merlin_199920537_ede48f2e-3ad1-4ac6-9873-d014687fc8bb-articleLarge.jpg');
    border: 5% solid #FFFFFF;
}

#btn:hover { 
    background-color: #FFFFFF;
}

#log {
    text-align: center;
    width: 10%;
    background-color: rgb(6, 253, 12);
    color: white;
