/*   
  Project by Josh 
  https://github.com/FedTrap1 
*/
@import url('https://fonts.googleapis.com/css?family=RobotoMono');
* {
    text-align: center;
    font-family: 'Roboto-Mono', sans-serif;
}

body {
    background: #FFFFFF;
}


#header {
    text-align: center;
    margin-top: 47px;
    margin: auto;
    font-size: 39px
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0); 
    color: white;
    text-align: center;
}

.center-align {
    text-align: center;
}

p {
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255)
}

#link, #username, #content, #avatar {
    font-size: 25px;
    background-color: #FFFFFF;
    width: 75%;
    padding: 20px;
    border: 2px solid #FF0000;
}

#btn {
    width: 35%;
    font-size: 25px;
    margin-top: 25px;
    padding: 17px;
    background-color: #FFFFFF;
    border: 5px solid #FF0000;
}

#btn:hover { 
    background-color: #FFFFFF;
}

#log {
    text-align: center;
    width: 10%;
    background-color: rgb(0, 0, 0);
    color: black;
}
